LoRaWAN_hadi_join_abp_send_confirmed_R9/noderedbluemix01.txt
[{"id":"79035591.64652c","type":"debug","z":"9694cf3.5dba03","name":"","active":true,"console":"false","complete":"true","x":526,"y":373,"wires":[]},{"id":"94a7aa95.a4d498","type":"cloudant out","z":"9694cf3.5dba03","name":"Plug & Sense Database","cloudant":"","database":"plugsensecomplete","service":"PS-cloudantNoSQLDB","payonly":false,"operation":"insert","x":548,"y":607,"wires":[]},{"id":"ae0ba3be.290c8","type":"ibmiot in","z":"9694cf3.5dba03","authentication":"apiKey","apiKey":"d45af964.259a98","inputType":"evt","deviceId":"12345678","applicationId":"","deviceType":"PS","eventType":"+","commandType":"","format":"json","name":"Plug&Sense","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":163,"y":506,"wires":[["67f764d3.fccf9c"]]},{"id":"67f764d3.fccf9c","type":"function","z":"9694cf3.5dba03","name":"Insert Time","func":"var d = new Date()\nmsg.time = d;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":536,"wires":[["94a7aa95.a4d498","79035591.64652c"]]},{"id":"d45af964.259a98","type":"ibmiot","z":"9694cf3.5dba03","name":"virtualnodered","keepalive":"60","cleansession":true}]