LoRaWAN_hadi_join_abp_send_confirmed_R8/IBM-WatsonIoT-Platform-Prototyping.txt
[{"id":"8dd329d1.23ee58","type":"mqtt-broker","broker":"aaz0jh.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"g:aaz0jh:conduit_lora:Conduit1"},{"id":"efc74cc6.e3be","type":"lora in","name":"","datatype":"utf8","x":239,"y":214,"z":"67fd6dc2.471cf4","wires":[["6ba1f0f7.4841b"]]},{"id":"6ba1f0f7.4841b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":517,"y":216,"z":"67fd6dc2.471cf4","wires":[]},{"id":"144c8b21.860685","type":"function","name":"Replace","func":"msg.payload = msg.payload.replace(\"BAT\", \"\\\"BATTERY\\\"\");\nmsg.payload = msg.payload.replace(\"I\", \"\\\"ID\\\"\");\nmsg.payload = msg.payload.replace(\"N\", \"\\\"SEQUENCE\\\"\");\nmsg.payload = msg.payload.replace(\"CC\", \"\\\"TEMPERATURE\\\"\");\nmsg.payload = msg.payload.replace(\"PS1\", \"\\\"PS1\\\"\");\nmsg.payload = msg.payload.replace(\"PA\", \"\\\"PREV ACK\\\"\");\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":428,"z":"67fd6dc2.471cf4","wires":[["7e5de9cb.5203a8","a066841c.3473f8"]]},{"id":"a066841c.3473f8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":625,"y":635,"z":"67fd6dc2.471cf4","wires":[]},{"id":"7e5de9cb.5203a8","type":"mqtt out","name":"PS-12345678","topic":"iot-2/type/PS/id/12345678/evt/status/fmt/json","qos":"","retain":"","broker":"8dd329d1.23ee58","x":675,"y":352,"z":"67fd6dc2.471cf4","wires":[]},{"id":"47ca110.90657f","type":"inject","name":"","topic":"","payload":"{I:PS1,N:7,BAT:100,CC:15.06,PA:1}","payloadType":"string","repeat":"","crontab":"","once":false,"x":251,"y":433,"z":"67fd6dc2.471cf4","wires":[["144c8b21.860685"]]},{"id":"b66f6ba0.f0f468","type":"mqtt out","name":"conduit-Conduit1","topic":"iot-2/type/conduit_lora/id/Conduit1/evt/status/fmt/json","qos":"","retain":"","broker":"8dd329d1.23ee58","x":620,"y":786,"z":"67fd6dc2.471cf4","wires":[]},{"id":"2e767432.5efc2c","type":"inject","name":"","topic":"","payload":"{\"WAN\":\"Fine\", \"LAN\":\"Bad\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":276,"y":786,"z":"67fd6dc2.471cf4","wires":[["b66f6ba0.f0f468"]]}]