LoRaWAN_hadi_join_abp_send_confirmed_R8/M2X-IoT-Platform Flow Hadi.txt
[{"id":"fa0e28b7.cc6f18","type":"lora in","name":"PS1","datatype":"utf8","x":92,"y":77,"z":"42e56396.a4ddfc","wires":[["26dd5f5.a8baca","824694f3.0129e8"]]},{"id":"26dd5f5.a8baca","type":"debug","name":"","active":true,"console":"false","complete":"false","x":635,"y":60,"z":"42e56396.a4ddfc","wires":[]},{"id":"bc1d372b.bd8658","type":"debug","name":"Respond","active":true,"console":"false","complete":"true","x":734,"y":769,"z":"42e56396.a4ddfc","wires":[]},{"id":"9b592d65.3a1eb","type":"inject","name":"","topic":"","payload":"{I:PS1,N:3,BAT:100,CC:17.06,PA:1}","payloadType":"string","repeat":"","crontab":"","once":false,"x":165,"y":787,"z":"42e56396.a4ddfc","wires":[["4eaf76b5.76e9a8"]]},{"id":"8d71d7ce.83d528","type":"http request","name":"","method":"use","ret":"txt","url":"","x":546,"y":784,"z":"42e56396.a4ddfc","wires":[["bc1d372b.bd8658"]]},{"id":"4eaf76b5.76e9a8","type":"function","name":"POST","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"temperature\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name + \"/value\";\n \nvar data = {\"value\": 30};\n \nvar msg = {\n    \"method\" : \"PUT\",\n    \"url\" : dev_url + dev_id + stream,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":373,"y":787,"z":"42e56396.a4ddfc","wires":[["8d71d7ce.83d528"]]},{"id":"a387261d.c961c8","type":"inject","name":"","topic":"","payload":"{\"I\":\"PS1\",\"N\":0,\"BAT\":100,\"CC\":16.06,\"PA\":0}","payloadType":"string","repeat":"","crontab":"","once":false,"x":172,"y":938,"z":"42e56396.a4ddfc","wires":[["7da6931a.e25f5c"]]},{"id":"ca86029b.17b8b","type":"debug","name":"","active":true,"console":"false","complete":"payload.I","x":601,"y":886,"z":"42e56396.a4ddfc","wires":[]},{"id":"dbafdc46.abf93","type":"debug","name":"","active":true,"console":"false","complete":"_msgid","x":620,"y":968,"z":"42e56396.a4ddfc","wires":[]},{"id":"7da6931a.e25f5c","type":"json","name":"","x":376,"y":936,"z":"42e56396.a4ddfc","wires":[["ca86029b.17b8b","dbafdc46.abf93"]]},{"id":"41bda5cf.deb47c","type":"debug","name":"Respond","active":true,"console":"false","complete":"true","x":802,"y":235,"z":"42e56396.a4ddfc","wires":[]},{"id":"ad847fed.c3794","type":"http request","name":"","method":"use","ret":"txt","url":"","x":616,"y":238,"z":"42e56396.a4ddfc","wires":[["41bda5cf.deb47c"]]},{"id":"fa31a623.264358","type":"function","name":"POST","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"temperature\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name + \"/value\";\n \nvar data = {\"value\": msg.payload.TEMPERATURE};\n \nvar msg = {\n    \"method\" : \"PUT\",\n    \"url\" : dev_url + dev_id + stream,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"payload\" : JSON.stringify(data)\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":403,"y":284,"z":"42e56396.a4ddfc","wires":[["ad847fed.c3794"]]},{"id":"8b4857e9.dc0c38","type":"json","name":"","x":326,"y":185,"z":"42e56396.a4ddfc","wires":[["fa31a623.264358"]]},{"id":"824694f3.0129e8","type":"function","name":"JSONify","func":"msg.payload = msg.payload.replace(\"BAT\", \"\\\"BATTERY\\\"\");\nmsg.payload = msg.payload.replace(\"I\", \"\\\"ID\\\"\");\nmsg.payload = msg.payload.replace(\"N\", \"\\\"SEQUENCE\\\"\");\nmsg.payload = msg.payload.replace(\"CC\", \"\\\"TEMPERATURE\\\"\");\nmsg.payload = msg.payload.replace(\"PS1\", \"\\\"PS1\\\"\");\nmsg.payload = msg.payload.replace(\"PA\", \"\\\"PREV ACK\\\"\");\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":122,"z":"42e56396.a4ddfc","wires":[["8b4857e9.dc0c38"]]},{"id":"521a958a.052ecc","type":"function","name":"DELETE","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"temperature\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name + \"/value\";\n \n \nvar msg = {\n    \"method\" : \"DELETE\",\n    \"url\" : dev_url + dev_id + stream,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n    \"value\": 200\n    //\"from\":\"2016-09-02T19:15:00.624Z\",\n    //\"end\":\"2016-09-04T19:15:00.624Z\"\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":403,"y":426,"z":"42e56396.a4ddfc","wires":[["ad847fed.c3794"]]},{"id":"10896441.d70eec","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":165,"y":426,"z":"42e56396.a4ddfc","wires":[["521a958a.052ecc"]]},{"id":"ccb60b.84bbb9f8","type":"function","name":"GET","func":"var dev_id = \"d52d59959e16b1ff88cce385bf017688\";\nvar api_key = \"7fddc362a4967fcd1f497d35fd7f438e\";\nvar stream_name = \"temperature\";\n \nvar dev_url = \"http://api-m2x.att.com/v2/devices/\";\nvar stream = \"/streams/\" + stream_name;\n \nvar msg = {\n    \"method\" : \"GET\",\n    \"url\" : dev_url + dev_id,\n    \"headers\" : {\n        \"Content-Type\": \"application/json\",\n        \"X-M2X-KEY\": api_key\n    },\n};\n \nreturn msg;","outputs":1,"noerr":0,"x":409,"y":536,"z":"42e56396.a4ddfc","wires":[["ad847fed.c3794"]]},{"id":"cc6a4789.4eab48","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":167,"y":536,"z":"42e56396.a4ddfc","wires":[["ccb60b.84bbb9f8"]]}]